@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate';


@import 'base/variables';
@import 'base/animations';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

// html {
//     scroll-behavior: smooth;
// }

.container {
    max-width: 950px;
    margin: 0 auto;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}



@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';